NumberSequenceService/NumberSequenceTests/Service References/NumberSequenceServiceReference/NumberSequence2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetAllNumbers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="input" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNumbersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllNumbersResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOddNumbers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOddNumbersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOddNumbersResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEvenNumbers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEvenNumbersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEvenNumbersResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFormattedNumbers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFormattedNumbersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFormattedNumbersResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFibonacciNumbers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFibonacciNumbersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFibonacciNumbersResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>