NumberSequenceService/NumberSequenceTests/Service References/NumberSequenceServiceReference/NumberSequence.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NumberSequence" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50294/NumberSequence.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50294/NumberSequence.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INumberSequence_GetAllNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNumbers" />
  </wsdl:message>
  <wsdl:message name="INumberSequence_GetAllNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="INumberSequence_GetOddNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOddNumbers" />
  </wsdl:message>
  <wsdl:message name="INumberSequence_GetOddNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOddNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="INumberSequence_GetEvenNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEvenNumbers" />
  </wsdl:message>
  <wsdl:message name="INumberSequence_GetEvenNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEvenNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="INumberSequence_GetFormattedNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFormattedNumbers" />
  </wsdl:message>
  <wsdl:message name="INumberSequence_GetFormattedNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFormattedNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="INumberSequence_GetFibonacciNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFibonacciNumbers" />
  </wsdl:message>
  <wsdl:message name="INumberSequence_GetFibonacciNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFibonacciNumbersResponse" />
  </wsdl:message>
  <wsdl:portType name="INumberSequence">
    <wsdl:operation name="GetAllNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/INumberSequence/GetAllNumbers" message="tns:INumberSequence_GetAllNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INumberSequence/GetAllNumbersResponse" message="tns:INumberSequence_GetAllNumbers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOddNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/INumberSequence/GetOddNumbers" message="tns:INumberSequence_GetOddNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INumberSequence/GetOddNumbersResponse" message="tns:INumberSequence_GetOddNumbers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEvenNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/INumberSequence/GetEvenNumbers" message="tns:INumberSequence_GetEvenNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INumberSequence/GetEvenNumbersResponse" message="tns:INumberSequence_GetEvenNumbers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFormattedNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/INumberSequence/GetFormattedNumbers" message="tns:INumberSequence_GetFormattedNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INumberSequence/GetFormattedNumbersResponse" message="tns:INumberSequence_GetFormattedNumbers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFibonacciNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/INumberSequence/GetFibonacciNumbers" message="tns:INumberSequence_GetFibonacciNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INumberSequence/GetFibonacciNumbersResponse" message="tns:INumberSequence_GetFibonacciNumbers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INumberSequence" type="tns:INumberSequence">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllNumbers">
      <soap:operation soapAction="http://tempuri.org/INumberSequence/GetAllNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOddNumbers">
      <soap:operation soapAction="http://tempuri.org/INumberSequence/GetOddNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEvenNumbers">
      <soap:operation soapAction="http://tempuri.org/INumberSequence/GetEvenNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFormattedNumbers">
      <soap:operation soapAction="http://tempuri.org/INumberSequence/GetFormattedNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFibonacciNumbers">
      <soap:operation soapAction="http://tempuri.org/INumberSequence/GetFibonacciNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NumberSequence">
    <wsdl:port name="BasicHttpBinding_INumberSequence" binding="tns:BasicHttpBinding_INumberSequence">
      <soap:address location="http://localhost:50294/NumberSequence.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>